
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Playfair+Display:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.login {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left, #f99cf0, #e86285,#f99cf0);
    background-size: 500% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: degrade-animado 5s infinite alternate;
}


@keyframes degrade-animado {
    0%{background-position-x: 0%;}
    100%{background-position-x: 100%;}
}


.esquerda{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.esquerda > h1 {
    color: #ff0073;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 300;
    font-size: 5vw;
}


.imagemEsquerda {
    width: 40vw;
}


.imagemDireita {
    width: 18vw;  
}


.direita {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #ea55af;
    border-radius: 20px;
    box-shadow: 0px 80px 80px #151012a1;    
}


.card-login > a {
    color:#f99cf0;
    font-weight:400;
    text-decoration: none;
    font-size: 1vw;
    text-align: center; 
}


.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}


.textfield > input {
    width: 100%;
    border: none;
    border-radius: 50px;
    padding: 15px;
    background: #f99cf0;
    color: #ffffffde;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;   
    box-shadow: 0px 10px 10px -1px #410431cd;
}


.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}


.textfield > input::placeholder {
    color:  #f0ffff94;
}


.btn-login {
    width: 80%;
    padding: 16px;
    margin: 25px;
    border: none;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #f3b8ee;
    background:#ff0073;
    cursor: pointer;
    box-shadow: 0px 10px 10px -1px #410431cd;
}


.btn-cadastrar {
    width: 80%;
    padding: 16px;
    margin: 25px;
    border: none;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #f3b8ee;
    background:#ff0073;
    cursor: pointer;
    box-shadow: 0px 10px 10px -1px #410431cd;
}


#criar-conta {
    width: 60%;
    padding: 16px;
    margin: 10px;
    border: none;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #f3b8ee;
    background:#fd2989;
    cursor: pointer;
    box-shadow: 0px 10px 10px -1px #410431cd;
}

